/.classpath
/.project
/.settings/**.*

/common/.classpath
/common/.project
/common/.settings/**.*
/common/target/**/**.*

/business/.classpath
/business/.project
/business/.settings/**.*
/business/target/**/**.*

/system/.classpath
/system/.project
/system/.settings/**.*
/system/target/**/**.*

/web/.classpath
/web/.project
/web/.settings/**.*
/web/target/**/**.*